# 3. Lists

* Lists are ordered.
* Lists can contains any arbitrary objects.
* List elements can be accessed by index.
* Lists can be nested to depth.
* Lists are mutable.
* Lists are dynamic.

In [3]:
# Creating a empty list

nlis=[]
print(nlis)
print(type(nlis))

[]
<class 'list'>

In [4]:
# Creating a list
nlis=['Python',25,2023,3.147]
nlis

['Python', 25, 2023, 3.147]

In [9]:
# This accessed by positive indexing.
print(nlis[0])
print(nlis[1])
print(nlis[2])
print(nlis[3])

Python
25
2023
3.147

In [13]:
# This accessed by negative indexing.
print(nlis[-1])
print(nlis[-2])
print(nlis[-3])
print(nlis[-4])

3.147
2023
25
Python

# What can contains a list?

* String
* Float
* Integer
* Boolean
* Nested list
* Nested Tuples
* Other data structurs.

In [16]:
nlis1=['Python',3.147,2023,True, False, [1,1,2,2,3,3,4,4,5],('Hello','Python',3.14,2023)]
nlis1

['Python',
 3.147,
 2023,
 True,
 False,
 [1, 1, 2, 2, 3, 3, 4, 4, 5],
 ('Hello', 'Python', 3.14, 2023)]

# List Operations

In [17]:
# Take a list
nlis2=['Python',3.147,2023,True, False, [1,1,2,2,3,3,4,4,5],('Hello','Python',3.14,2023)]
nlis2

['Python',
 3.147,
 2023,
 True,
 False,
 [1, 1, 2, 2, 3, 3, 4, 4, 5],
 ('Hello', 'Python', 3.14, 2023)]

In [18]:
# len() function count the total length of the list.
len(nlis2)

7

# Slicing of list elements

In [24]:
print(nlis2[6:7])

[('Hello', 'Python', 3.14, 2023)]

In [26]:
nlis2[6][0]

'Hello'

In [28]:
nlis2[5][4]

3

In [30]:
nlis2[6][1]

'Python'

# Extending the list

* We use the extend() function to add a new element to the list.
* With this functions, we add more than one element to the list.

In [33]:
nlis3=['Python',3.147,2023,True, False, [1,1,2,2,3,3,4,4,5],('Hello','Python',3.14,2023)]
nlis3.extend(['Amruta',30])
print(nlis3)

['Python', 3.147, 2023, True, False, [1, 1, 2, 2, 3, 3, 4, 4, 5], ('Hello', 'Python', 3.14, 2023), 'Amruta', 30]

In [44]:
nlis3.extend(['Happy New Year 2023'])
nlis3

['Python',
 3.147,
 2023,
 True,
 False,
 [1, 1, 2, 2, 3, 3, 4, 4, 5],
 ('Hello', 'Python', 3.14, 2023),
 'Amruta',
 30,
 'Happy New Year 2023',
 'Happy New Year 2023',
 'Happy New Year 2023',
 'Happy New Year 2023',
 'Happy New Year 2023',
 'Happy New Year 2023']

# Append() method

* As diffrent form the extend() method, with the append() mehtod, we add only one element  to the list.
* You can see the diffrenet by comparing the above and below codes.

In [47]:
nlis4=['Python',3.147,2023,True, False, [1,1,2,2,3,3,4,4,5],('Hello','Python',3.14,2023)]
nlis4.append(['Hello World',1.518])
nlis4

['Python',
 3.147,
 2023,
 True,
 False,
 [1, 1, 2, 2, 3, 3, 4, 4, 5],
 ('Hello', 'Python', 3.14, 2023),
 ['Hello World', 1.518]]

# len(), append(), count(), index(), insert(),max(), min(), sum() functions

In [63]:
lis=[1,2,3,4,5,6,7]
print(len(lis))
lis.append(4)
print(lis)
print(lis.count(4)) # How many 4 are on the list "lis"?
print(lis.index(2)) # What is the index of the number 2 in the list "lis"?
lis.insert(0,30) # Add name 'Amruta' to the index 0.
print(lis)
print(max(lis)) # What is the maximum number in the list?
print(min(lis)) # What is the minimum number in the list?
print(sum(lis)) # What is the sum of the numbers in the list?

7
[1, 2, 3, 4, 5, 6, 7, 4]
2
1
[30, 1, 2, 3, 4, 5, 6, 7, 4]
30
1
62

# Changing the element of a list since it is mutable

In [66]:
nlis5=['Python',3.147,2023,True, False, [1,1,2,2,3,3,4,4,5],('Hello','Python',3.14,2023)]
print('Before changing:',nlis5)
nlis5[0]='Amruta'
print('After changin:',nlis5)
nlis5[1]=30
print('After changing:',nlis5)

Before changing: ['Python', 3.147, 2023, True, False, [1, 1, 2, 2, 3, 3, 4, 4, 5], ('Hello', 'Python', 3.14, 2023)]
After changin: ['Amruta', 3.147, 2023, True, False, [1, 1, 2, 2, 3, 3, 4, 4, 5], ('Hello', 'Python', 3.14, 2023)]
After changing: ['Amruta', 30, 2023, True, False, [1, 1, 2, 2, 3, 3, 4, 4, 5], ('Hello', 'Python', 3.14, 2023)]

In [75]:
nlis5[5][0]='Hi'
print(nlis5)
nlis5[5][1]='Amruta'
print(nlis5)

['Amruta', 30, 2023, True, False, ['Hi', 'Amruta', 2, 2, 3, 3, 4, 4, 5], ('Hello', 'Python', 3.14, 2023)]
['Amruta', 30, 2023, True, False, ['Hi', 'Amruta', 2, 2, 3, 3, 4, 4, 5], ('Hello', 'Python', 3.14, 2023)]

# Deleting the element from the list using del() function

In [79]:
print('Before changing',nlis5)
del(nlis5[2])
print('After changing',nlis5)
del(nlis5[-1])
print('After changing',nlis5)

Before changing ['Amruta', 30, True, False, ['Hi', 'Amruta', 2, 2, 3, 3, 4, 4, 5], ('Hello', 'Python', 3.14, 2023)]
After changing ['Amruta', 30, False, ['Hi', 'Amruta', 2, 2, 3, 3, 4, 4, 5], ('Hello', 'Python', 3.14, 2023)]
After changing ['Amruta', 30, False, ['Hi', 'Amruta', 2, 2, 3, 3, 4, 4, 5]]

In [81]:
nlis6=['Python',3.147,2023,True, False, [1,1,2,2,3,3,4,4,5],('Hello','Python',3.14,2023)]
print('Before deleting',nlis6)
del (nlis6)
print('After deleting',nlis6)

Before deleting ['Python', 3.147, 2023, True, False, [1, 1, 2, 2, 3, 3, 4, 4, 5], ('Hello', 'Python', 3.14, 2023)]

NameError: name 'nlis6' is not defined

In [85]:
# Split() function # It always gives the output in list.
message='Python is a programming language'
print(message.split())
message1='A Quick Brown fox jump over the lazy Dog'
print(message1.split())

['Python', 'is', 'a', 'programming', 'language']
['A', 'Quick', 'Brown', 'fox', 'jump', 'over', 'the', 'lazy', 'Dog']

In [89]:
name='Amruta'
name.split()

['Amruta']

In [90]:
name1='A,m,r,u,t,a'
name1.split(",")

['A', 'm', 'r', 'u', 't', 'a']

In [93]:
name2='A,m,r,u,t,a, C,h,a,n,d,a,n, P,a,t,a,d,e'
print(name2.split(","))

['A', 'm', 'r', 'u', 't', 'a', ' C', 'h', 'a', 'n', 'd', 'a', 'n', ' P', 'a', 't', 'a', 'd', 'e']

# Basic operations

In [105]:
lis_1=['a','b','c','hello','Python']
lis_2=[1,2,3,4,5,6]
print(len(lis_1))
print(len(lis_2))
print(lis_1+lis_2) # Addition of two list into one list.
print(lis_1*2)
print(lis_2*2)
for i in lis_2: #loop
    print(i)
    
print(4 in lis_1)
print(4 in lis_2)
print(4 not in lis_1)
print(4 not in lis_2)

5
6
['a', 'b', 'c', 'hello', 'Python', 1, 2, 3, 4, 5, 6]
['a', 'b', 'c', 'hello', 'Python', 'a', 'b', 'c', 'hello', 'Python']
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
1
2
3
4
5
6
False
True
True
False

# Python List method

In [7]:
#1. append method #--->It add into the list.
a=[10,20,30]
a.append(40)
print(a)

[10, 20, 30, 40]

In [6]:
a.extend([50])
print(a)

[10, 20, 30, 40, 50, 50, 50, 50, 50]

In [17]:
b=[10,20,30,20,20,30,60,80,20,20,20,20,20,20]
b.insert(0,40)
b

[40, 10, 20, 30, 20, 20, 30, 60, 80, 20, 20, 20, 20, 20, 20]

In [18]:
b.count(20)  #------>It count items in the list.

9

In [22]:
b.index(20)

2

In [25]:
c=[10,20,30,40]
c.pop(3)  #it removes items from the list.
c

[10, 20, 30]

In [31]:
d=[10,20,30,20,13,14,1,4]
d.reverse()
d

[4, 1, 14, 13, 20, 30, 20, 10]

In [32]:
d.sort()   #It arrange items in the list in sorting.
d

[1, 4, 10, 13, 14, 20, 20, 30]

# Input() function

* input() function in Python provides a user of program supply inputs to the program at runtime.

In [36]:
text=input('Enter a string: ')
print('The text entered by the user is: ',text)
print(type(text))

Enter a string: Hi Amruta
The text entered by the user is:  Hi Amruta
<class 'str'>

In [37]:
age=int(input('Enter your age: '))
print('Amruta age is: ',age)
print(type(age))

Enter your age: 30
Amruta age is:  30
<class 'int'>

In [48]:
age1=float(input('Enter your age: '))
name=input('Enter Your name: ')
print("User's Name is",name,"and age is: ",age1)
print(type(age1))
print(type(name))

Enter your age: 30
Enter Your name: Amruta
User's Name is Amruta and age is:  30.0
<class 'float'>
<class 'str'>

# eval() functions

* This functions serves the aim of converting a string to an integer or a float

In [56]:
# eval------------>evaluate
expression='100+1'
total=eval(expression)
print('Sum of the expression is: ',total)
print(type(expression))
print(type(total))

Sum of the expression is:  101
<class 'str'>
<class 'int'>

# format() functions

* This function help to formate the output printed on the screen with good look and attractive.

In [62]:
a=input('Enter your name ')
b=int(input('Enter your age '))
print('User name is {} and age is {}'.format(a,b))

Enter your name Amruta
Enter your age 30
User name is Amruta and age is 30

In [63]:
a1=float(input('Enter any number '))
a2=float(input('Enter second number '))
total=a1+a2
print('Sum of {} and {} is {}'.format(a1,a2,total))

Enter any number 30
Enter second number 31
Sum of 30.0 and 31.0 is 61.0

# Comparison Operators

* The operators such as <,>,<=,>=,==,and != compare the certain two operands and return True or False value.

In [70]:
b1= 3.14
b2= 1.618

print('b1>b2 is: ',b1>b2)
print('b1<b2 is: ',b1<b2)
print('b1<=b2 is: ',b1<=b2)
print('b1>=b2 is: ',b1>=b2)
print('b1==b2 is:',b1==b2)
print('b1!=b2 is: ',b1!=b2)

b1>b2 is:  True
b1<b2 is:  False
b1<=b2 is:  False
b1>=b2 is:  True
b1==b2 is: False
b1!=b2 is:  True

# Logical operators

* The operators including and, or , not are utilized to bring two conditions together  and access them. 
* The output retrns True or False

In [75]:
a=3.14
b=1.618
c=12
d=3.14

print(a>b and c>a)
print(b>c and d>a)
print(b<c and d>a)
print(not a==b)
print(not a==d)

True
False
False
True
False

# Assignment operators

* The operators including =,-=,+=,/=,//=,*=,&=,>>= and <<= are employed to evalueate a value to a variable:

In [76]:
x=3.14
x+=5
print(x)

8.14

In [78]:
x=3.14
x-=5
print(x)

-1.8599999999999999

In [79]:
x=3.14
x*=5
print(x)

15.700000000000001

In [84]:
x=3.14
x/=5
print(x)

0.628

In [85]:
x=3.14
x**=5
print(x)

305.2447761824001

In [86]:
x=2
x**=3
print(x)

8

# Identity operators

* The operators is or is not are employed to control if the operands or object to the left and right of these
* operators are referring to a value stored in the same memory location and return True or False.

In [93]:
a=3.14
b=1.618
print(a is b)
print(a is not b)
msg1='Hello,Python!'
msg2='Hello, World'
print(msg1 is msg2)
print(msg1 is not msg2)

False
True
False
True

# Membership operators

* These operators including in and not in are employed to check if the certain value is available in the sequence of values and 
* return True or False

In [98]:
# take a list.
nlis=[4,6,7,8,5,'Hello',(4,5),{'name':'Python'},{1,2,3},[1,2,3]]
print(5 in nlis)
print(4 not in nlis)
print((4,5) in nlis)
print(9 not in nlis)

True
False
True
True