# 5.Sets in Python

* Set is one of 4 Built-in data types in Python used to store collections of data including List, Tuples and Dictionary.
* Sets are unordered, but you can remove items and add new items.
* Set elements are unique. Duplicate elements are not allowed.
* A set itself may be modified, but the element containded in the set must be an immutable type.
* You can denote a set with a pair of curly brackets {}.

In [2]:
# The empty set of curly braces denotes the empty dictionary, not empty set.
x={}
x
type(x)

dict

In [4]:
y=set()
print(y)
print(type(y))

set()
<class 'set'>

In [6]:
# An Example: Take a set
set_1={'Hello Python',3.14,1.618,'Hello World',3.14,1.618,True, False ,2023}
print(set_1)
print(type(set_1))

{False, 1.618, True, 3.14, 'Hello Python', 2023, 'Hello World'}
<class 'set'>

In [10]:
nlis=['Hello Python',3.14,1.618,'Hello World',3.14,1.618,True, False ,2023]
print('list are: ',nlis)
nlis1=set(nlis)
print('Set are: ',nlis1)

list are:  ['Hello Python', 3.14, 1.618, 'Hello World', 3.14, 1.618, True, False, 2023]
Set are:  {False, 1.618, True, 3.14, 2023, 'Hello Python', 'Hello World'}

# add() Function

* To add an element into a set, we use the function add(). If the same element is added to the set, nothing will 
* happen because the set accept no duplicates.

In [16]:
# Addition of an element to a set.
set3=set(['Hello Python',3.14,1.618,'Hello World',3.14,1.618,True, False ,2023])
set3.add('Hi,Amruta!')
set3.add('Hello,Amruta')
set3.add('Hi,Amruta!')
set3.add(3.148)
set3.add(3.148)
set3

{1.618,
 2023,
 3.14,
 3.148,
 False,
 'Hello Python',
 'Hello World',
 'Hello,Amruta',
 'Hi,Amruta!',
 True}

In [23]:
# Update() function
# To add multiple elements into the set.
x_set={4,6,7,8,9}
print(x_set)
x_set.update({1,2,3,4,5,6,7,8,9,10,'Amruta'})
print(x_set)

{4, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Amruta'}

In [24]:
# remove() function
# To remove an element from the set.

x_set.remove('Amruta')
x_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [26]:
set4=set(['Hello Python',3.14,1.618,'Hello World'])
set5=set([3.14,1.618,True, False,2023])

#Printing two set at a time.
set4,set5

({1.618, 3.14, 'Hello Python', 'Hello World'},
 {False, True, 1.618, 3.14, 2023})

# To find the intersect of two sets using &

In [27]:
intersection=set4&set5
intersection

{1.618, 3.14}

In [31]:
print(set4.difference(set5))
print(set5.difference(set4))

#Second method of printing difference

print(set4-set5)
print(set5-set4)

{'Hello Python', 'Hello World'}
{False, True, 2023}
{'Hello Python', 'Hello World'}
{False, True, 2023}

In [32]:
# Union() Function
# It corresponds to all the elements in both set.

set4.union(set5)

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}