# 8. Loops in Python

* A for loop is used for iterating over a sequence (that is either a list, a touple
a dictionary, a set, or a string).

* This is less like the for keyword in other programming languages, and works more like an 
iterator method.
* With the for loop we can execute a set of statements, once for each items in a list, tuple 
, set etc.

* The for loop does not require an indexing variable to set beforehead.
* With the while loop we can execute a set of statements as long as a condition is true.
* Note: remember to increment i, or else the loop will continue forever.
* The while loop requires relevant variable to ready, in this example we need to define an 
indexing variable, i, which we set to 1.

# range() function

* It is helpful to think of the range object as an ordered list.
* To loop though a set of code specified number of times, we can use the 
range() functions.
* The range() function returns a sequence of numbers, starting from 0 by
default, and increments by 1 (by default), and ends at specified number.

In [ ]:
print(range(5))
print(range(10))

#  for loop

* The for loop enables you to execute a code block multiple times.

In [ ]:
years=[2005,2006,2007,2008,2009,2010]
for i in years:
    print(i)

In [ ]:
for year in years:
    print(year)

In [ ]:
for i in range(len(years)):
    print(years[i])

In [ ]:
for i in range(2,12):
    print(i)

In [ ]:
for i in range(2,12,3):
    print(i)

In [ ]:
language=['Jave','JavaScript','C','C++','PHP']

for i in range(len(language)):
    print('Before language',i,'is',language[i]) # Before language 0 is Java.

In [ ]:
language=['Python','Jave','JavaScript','C','C++','PHP']

for index, language in enumerate(language):
    print(index,language)

In [ ]:
for i in range(-3,11):
    print(i)

In [ ]:
number1=int(input('Enter a number: '))

print(f'The entered number is {number1}')

for i in range(1,11):
    print('%d x %d = %d'%(number1,i,number1*i))

In [ ]:
list1=[0.577,2.718,3.14,4.50]

count=0
for i in list1:
    count+=i
    print(count)

In [ ]:
for i in range(1,6):
    print(i, end=',')
else:
    print('These are numbers form 1 to 5')

In [ ]:
for i in range(1,6):
    print(i, end=',')

In [ ]:
list2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

for i in list2:
    if i==11:
        break
    print(i)

In [ ]:
list2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

for i in list2:
    if i==8:
        continue
    print(i)

In [ ]:
list3=['Ajay','Binay','Devendra','Amit',1,2,3,4,5,8.8,9.5,('a','b','c')]

for i in list3:
    if i==11:
        break
    print(i)

In [ ]:
list3=['Ajay','Binay','Devendra','Amit',1,2,3,4,5,8.8,9.5,('a','b','c')]

for i in list3:
    if i=='Amit':
        continue
    print(i)

In [ ]:
#1-10

for i in range(1,11):
    print(i)

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10]
for i in x:
    print(i)

In [ ]:
n=51

for i in range(1,n):
    print(i)

In [ ]:
# 10

given_num=50

for i in range(given_num):
    if i%2==0:
        print(i)

In [ ]:
# 10

given_num=50

for i in range(given_num):
    if i%2!=0:
        print(i)

In [ ]:
# 1-10

given_num=10

sum=0
for i in range(1,given_num+1):
    sum+=i
print(sum)

In [ ]:
given_num=10

sum=0

for i in range(given_num+1):
    if i%2==0:
        sum+=i
        
print(sum)

In [ ]:
given_num=10

sum=0

for i in range(given_num+1):
    if i%2!=0:
        sum+=i
        
print(sum)

In [ ]:
given_string=str(input('Enter your word '))
revers_string=''

for i in given_string:
    revers_string = i + revers_string
    
if (given_string==revers_string):
    print('The string',given_string,'is a Palindrome.')
else:
    print('The string',given_string,'is Not Palindrome.')

# nested for loop

In [ ]:
num = int(input('Enter any number: '))

print(f'The entered number is {num}.')
i,j=0,0
for i in range(0,num):
    print()
    for j in range(0,i+1):
        print('*',end='')

In [ ]:
nlis1=[2,4,6,8,10,12,14,16,18,20,22]

for i in nlis1:
    if i==12:
        continue
    print(i)

In [ ]:
nlis1=[2,4,6,8,10,12,14,16,18,20,22]

for i in nlis1:
    if i==12:
        continue
    print(i)

In [ ]:
# Take an example of while loop

i = 20

while i<31:
    print(i)
    i+=1

In [ ]:
for i in range(20,30):
    print(i)

In [ ]:
i=22

while i>17:
    print(i)
    i-=1

In [ ]:
years=[2005,2006,2007,2008,2009,2010]

index=0
year=years[0]

while year != 2008:
    print(year)
    index+=1
    year=years[index]
    
print('It gives us only',index,'repetition to get out of the loop')

In [ ]:
fruits=['banana','apple','orange','kiwi','cherry','Grapes','banana','banana','Strawberry','Date']

new_fruits=[]

index=8

while fruits[index]=='Strawberry':
    new_fruits.append(fruits[index])
    index+=1
print(new_fruits)

In [ ]:
number1=int(input('Enter a number: '))

print(f'The entered number is {number1}')

for i in range(1,11):
    print('%d x %d = %d'%(number1,i,number1*i))

In [ ]:
number1=int(input('Enter a number: '))
print(f'The entered number is {number1}')

i=1

while i<=10:
    print('%d x %d = %d'%(number1,i,number1*i))
    i+=1

In [1]:
i=0

while i<=5:
    print(i)
    i+=1

0
1
2
3
4
5