# 8. Loops in Python

* A for loop is used for iterating over a sequence (that is either a list, s tuple, a dictionary, a set, or a string).
* This is less like the for keyword in other programming languages, and works more like an iterator method as found in other 
object- oriented programming languages.
* With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
* The for loop does not require an indexing variable to set beforehand.
* With the while loop we can execute a set of statements as long as a condition is true.
* Note: remember to increment i, or else the loop will continue forever.
* The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we 
set to 1.

# range() function

* It is helpful to think of the range object as an ordered list.
* To loop though a set of code a specified number of times, we can use the range() fuctions.
* The range() functions returns a sequence of numbers, starting from 0 by default, and increments by 1(by default) and ends at a spefified number.

In [7]:
# Take a range() functions
print(range(100))
print(range(5))

range(0, 100)
range(0, 5)

# for loop

* The for loop enables you to execute a code block multiple times.

In [10]:
# Take an example
# Directly accessing to the element in the list.

years=[2025,2006,2007,2008,2009,2010]

for s in years:
    print(s)

2025
2006
2007
2008
2009
2010

In [11]:
# Take an example
# Directly accessing to the element in the list.

years=[2025,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2025
2006
2007
2008
2009
2010

In [12]:
# Another for loop example

for i in range(2,12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [13]:
for i in range(2,12,3): #printing loops with step value
    print(i)

2
5
8
11

In [15]:
# Changing the element in the list.
languages=['Java','JavaScripts','C','C++','PHP']

for i in range(len(languages)):
    print('Before language',i,'is',languages[i])
    languages[i]='Python'
    print('After language',i,'is',languages[i])

Before language 0 is Java
After language 0 is Python
Before language 1 is JavaScripts
After language 1 is Python
Before language 2 is C
After language 2 is Python
Before language 3 is C++
After language 3 is Python
Before language 4 is PHP
After language 4 is Python

In [16]:
languages=['Java','JavaScripts','C','C++','PHP']

for index,language in enumerate(languages):
    print(index,language)

0 Java
1 JavaScripts
2 C
3 C++
4 PHP

In [17]:
# Take the numbers between -3 and 6 using for loop
# use range() function
for i in range(-3,7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [27]:
# How to print table with for loop

number=int(input('Enter any number: '))
number1=int(input('Enter second number: '))

print(f'The entered number is {number} and {number1}.')

for i in range(1,11):
    print('%d x %d = %d' %(number,i,number*i),',',('%d x %d = %d' %(number1,i,number1*i))

Enter any number: 12
Enter second number: 13
The entered number is 12 and 13.
12 x 1 = 12 , 13 x 1 = 13
12 x 2 = 24 , 13 x 2 = 26
12 x 3 = 36 , 13 x 3 = 39
12 x 4 = 48 , 13 x 4 = 52
12 x 5 = 60 , 13 x 5 = 65
12 x 6 = 72 , 13 x 6 = 78
12 x 7 = 84 , 13 x 7 = 91
12 x 8 = 96 , 13 x 8 = 104
12 x 9 = 108 , 13 x 9 = 117
12 x 10 = 120 , 13 x 10 = 130

In [28]:
number=int(input('enter table no.= '))
number1=int(input('enter table no.= '))
number2=int(input('enter table no.= '))
print(f'the entered no. is ={number}.')

for i in range(1,11):
    print('%d x %d = %d' %(number,i,number*i),',','%d x %d = %d' %(number1,i,number1*i),',', '%d x %d = %d' %(number2,i,number2*i))

enter table no.= 12
enter table no.= 13
enter table no.= 14
the entered no. is =12.
12 x 1 = 12 , 13 x 1 = 13 , 14 x 1 = 14
12 x 2 = 24 , 13 x 2 = 26 , 14 x 2 = 28
12 x 3 = 36 , 13 x 3 = 39 , 14 x 3 = 42
12 x 4 = 48 , 13 x 4 = 52 , 14 x 4 = 56
12 x 5 = 60 , 13 x 5 = 65 , 14 x 5 = 70
12 x 6 = 72 , 13 x 6 = 78 , 14 x 6 = 84
12 x 7 = 84 , 13 x 7 = 91 , 14 x 7 = 98
12 x 8 = 96 , 13 x 8 = 104 , 14 x 8 = 112
12 x 9 = 108 , 13 x 9 = 117 , 14 x 9 = 126
12 x 10 = 120 , 13 x 10 = 130 , 14 x 10 = 140