# Q. What is SQL?

 Ans: SQL( Structure Query Language) is programming language used ot interact with DataBase.

# Application of SQL:

 * CRUD (Create, Read(select), Update, Delete) Statement in SQL

# Relational and Non Relation Datebase.

1. RELATIONAL DATABASE
_______________________

 * 1. Data Stored in Table.
 * 2. These databases have fixed or static or predefined schema.
 * 3. Low performance with huge volume of data.
 * 4. Ex- Postgres, MySQL, MS-SQL Server Etc.
 
 
2. NON-RELATIONAL DATABASE
___________________________

 * 1. Data stored are either key-value paris, documents-based, graph database or wide column Database.
 * 2. They have a dynamic schema.
 * 3. Easily work with huge amount of data.
 * 4. MongoDB, Cassandra, HBase Etc.

# SQL Commands:-

 * There are three types of sql commands.
 1. DDL (Data, Definition Language): Create, Alter and Drop.
 2. DML (Data, Manipulation Language): Select, Insert, Update and Delete.
 3. DCL (Data, Control Language): Grand and Revoke permission to users.

# What is DataBase?

Ans: Data Base is a system that allow user ot sotre and organise data.

# What is difference B/W Excel and DataBase?
--------------------------------------------------------------------------


1. Excel
 * Easy to use untrained person can work.
 * Data stored less data.
 * Good for one-time analysis, Quick charts.
 * No data integrity due to manual operation.
 * Low search/Filter capability.
 
 
2. DataBase.

 * 1. Trainded person can work.
 * 2. Stores large amount of data.
 * 3. Can automate task.
 * 4. High data integrity.
 * 5. High Search/Filter capability.

# SQL Database:


 1. Tera Data
 2. Microsoft SQL Server.
 3. SQL
 4. Amazon RDS
 5. Oracle DataBase
 6. MySQL
 7. Snow Flake
 8. Postgres
 9. Sap S/4 Hana etc. There are same Query

# What are the types of database?

 * Database types of column defines what the value the column can store in table.
 * Defined while creating tables in databases.
 * Data types mainly classified into three Categories are used.
 
 
  1. Sting: char, varchar etc.
  2. Numeric: int, float, bool etc.
  3. Date and time: date, datetime etc.

 * PRIMARY KEY AND FOREIGN KEY
 ------------------------------
 
PRIMARY KEY(PK) :
 * A Primary key is a unique column we set in a table to easily identify and locate in queries.
 * A table can have only one primary key, which should be unique and NOT NULL.
 
 
FOREIGN KEYS(FK):
 * A Foreign key is a column used to like two or more tables together.
 * A table can have any number of foreign keys, can constain duplicate and NOT NULL values.
 
 ______________________________________________________________________________

# Consttaints(Rule)


RULE:
 * Constraints are used to specify rule for data in table.
 * This ensures the accuracy and realiability of the data in the tables.
 * Constraints can specify when the table is created with the CREATE TABLE statement, or and after the table is created with ALTER TABLE statement.
 
_______________________________________________________________________________

 * Syntax
 
 * CREATE TABLE table_name(
 
   column1 datatype constraints,
   
   column2 datatype constraints,
   
   column3 datatype constraints................
   
);

# Constraints (Rule)


1. NOT NULL: Ensure that a column can not have a Null value.
2. UNIQUE: Ensure that all value in a column are different.
3. PRIMARY KEY: A combination of a NOT NULL and UNIQUE.
4. FOREIGN KEY: Prevents action that would destroy links between tables(used to link multiple tables together.) It can duplicates.
5. CHECK: Ensure that the values in a column satisfies a specific conditions.
6. DEFAULT: Sets a default Values for a column if no values  is specified.
7. CREATE INDEX: Used to create and retrieve data from the databse very quickly.

# Create Table:

 * The CREATE TABLE statement is used to create table in database.
 
 * Syntax:
 CREATE TABLE table_name
 (
  column_1 datatype constraints,
  column_2 datatype constraints,
  column_3 datatype constraints,
  )
  
* CREATE TABLE customer
(
    "custID", int8 PRIMARY KEY,
    
    "cust_Name", varchar NOT NULL,
    
    "age", int(3) NOT NULL,
    
    "salary", numeric
);


 * SELECT * FROM customer.

# INSERT VALUES IN TABLE:

 * The INERT INTO statement is used to insert new records in a table.
 
     * Syntax:
                 INSERT INTO table_name
     ("Column_1","Column_2","Column_3","Column_4"..................."Column_n")
     
     VALUES
     (value_1,value2,value3,value4................................value_n)
     
     
* Example

INSERT INTO customer

("custID","cust_Name","age","city", "salary")


VALUES

(1,'Sam',26,'Delhi',9000)
(2,'Ram',20,'Bangalore',11000)
(3,'Carrun',21,'Mumbai',8000)


* Check

    * SELECT * FROM customer.